@import 'config';
@import "sprites/*.png";
@import "nmvotes/*.png";

// Modules
@import "modules/all";

// Partials
@import "partials/body";
@import "partials/header";

@import 'partials/comments';

@import 'partials/sidebar';
@import "partials/submissions";
@import "partials/rules";
@import "partials/wiki";
@import "partials/sponsored_post";

@import "partials/council_votes";

@import "partials/submission_flair";

@import "partials/submission_live_flair";



/* READ PAGE */



/* POST PAGE */
@import "partials/submission_submit";

/* START: FLAIRS AND USER DESIGN */
@import "partials/flairs";

// Frontier styling
@import "partials/frontier_flairs";

// Specials
@import 'partials/specials/snowspecial';
@import 'partials/specials/upvote_messages';

/* START FOOTER */
@import 'partials/footer';
/* END FOOTER */

@import 'partials/res';

/* START: NP */
@import 'partials/np';
/* END: NP */

/* NIGHTMODE */
@import 'partials/nightmode';
