// 50k subs fun with upvote text
/* Inspired by /r/Sweden */
.thing .upmod:focus:after {
    content: "";
	padding:1px 6px;
	border-radius: 2px;
	margin-left:19px;
	background-color: orange;
    font-size: 14px;
    color: white;
    display: block;
    position: absolute;
    animation: upvote 3s ease-out;
    -webkit-animation: upvote 3s ease-out;
    opacity: 0;
    z-index: 9001;
}
@keyframes upvote {
    0% { margin-top: 0px; opacity: 1; }
    50% { opacity: 1; }
    100% { margin-top: -80px; opacity: 0; }
}
@-webkit-keyframes upvote {
    0% { margin-top: 0px; opacity: 1; }
    50% { opacity: 1; }
    100% { margin-top: -80px; opacity: 0; }
}
.thing[data-fullname$="a"] .upmod:focus:after { content: "Under a Tank"; }
.thing[data-fullname$="b"] .upmod:focus:after { content: "Target shields are fine"; }
.thing[data-fullname$="c"] .upmod:focus:after { content: "Friendship drive engaged"; }
.thing[data-fullname$="d"] .upmod:focus:after { content: "Landing gear: attractive"; }
.thing[data-fullname$="e"] .upmod:focus:after { content: "tfaddy ate the socks"; }
.thing[data-fullname$="f"] .upmod:focus:after { content: "Welcome to Elite Dangeorus"; }
.thing[data-fullname$="g"] .upmod:focus:after { content: "Ed will like his surprise"; }
.thing[data-fullname$="h"] .upmod:focus:after { content: "Hutton Mugs for everyone!"; }
.thing[data-fullname$="i"] .upmod:focus:after { content: "Frontier Support is already on it"; }
.thing[data-fullname$="j"] .upmod:focus:after { content: "The Audio team is still working"; }
.thing[data-fullname$="k"] .upmod:focus:after { content: "CMDR S7 killed the socks"; }
.thing[data-fullname$="l"] .upmod:focus:after { content: '"SpyTequeue" - Zac'; }
.thing[data-fullname$="m"] .upmod:focus:after { content: "Jim Croft is the man!"; }
.thing[data-fullname$="n"] .upmod:focus:after { content: "Hi everybody i'm learning how to land"; }
.thing[data-fullname$="o"] .upmod:focus:after { content: "Soon(tm)"; }
.thing[data-fullname$="p"] .upmod:focus:after { content: "The station disappeared"; }
.thing[data-fullname$="p"] .upmod:focus:after { content: "Tiny hardpoints?! Oh.."; }
.thing[data-fullname$="q"] .upmod:focus:after { content: "Nightmode!"; }
.thing[data-fullname$="r"] .upmod:focus:after { content: "Call the Fuel Rats, again"; }
.thing[data-fullname$="s"] .upmod:focus:after { content: "SpyTec, pls ban"; }
.thing[data-fullname$="t"] .upmod:focus:after { content: "BrettC likes to be poked. Go poke him."; }
.thing[data-fullname$="u"] .upmod:focus:after { content: "Neutron farm all day long..."; }
.thing[data-fullname$="v"] .upmod:focus:after { content: "Fire the Railguns!"; }
.thing[data-fullname$="w"] .upmod:focus:after { content: "All I got was this stupid shirt"; }
.thing[data-fullname$="x"] .upmod:focus:after { content: "GalNet News - Your galaxy in focus"; }
.thing[data-fullname$="y"] .upmod:focus:after { content: "Heat levels critical"; }
.thing[data-fullname$="z"] .upmod:focus:after { content: "So if OP weighs the same as a duck, she's made of wood?"; }
.thing[data-fullname$="1"] .upmod:focus:after { content: "Sponsored by Sidewinder radio"; }
.thing[data-fullname$="2"] .upmod:focus:after { content: "It's Asp not ASP"; }
.thing[data-fullname$="3"] .upmod:focus:after { content: "CQC Challenge: Win round by only ramming"; }
.thing[data-fullname$="4"] .upmod:focus:after { content: "They're called buggehs not SRVs"; }
.thing[data-fullname$="5"] .upmod:focus:after { content: "WITNESS ME!"; }
.thing[data-fullname$="6"] .upmod:focus:after { content: "Test post please ignore"; }
.thing[data-fullname$="7"] .upmod:focus:after { content: "Where is Fangs!?"; }
.thing[data-fullname$="8"] .upmod:focus:after { content: "I found a typo by Frontier again"; }
.thing[data-fullname$="9"] .upmod:focus:after { content: "The Unknown Artefact mystery remains"; }
.thing[data-fullname$="0"] .upmod:focus:after { content: "Hutton Scrap!!"; }

.arrow.down:hover::after{
  content:"Post breaks reddiquette";
  background-color: rgb(60,120,200);
  border: solid 1px rgb(30,100,170);
  display:block;
  color:white;
  padding:2px 6px;
  border-radius: 0;
  position: absolute;
  margin-left:19px;
  font-size: 120%;
}
// End 50k special vote text