/* Taken from /r/Anime */
#header:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:transparent;
    background-image:url("%%snow%%"),url("%%snow%%"),url("%%snow%%");
    -webkit-animation:snow 20s linear infinite;
    -moz-animation:snow 20s linear infinite;
    -ms-animation:snow 20s linear infinite;
    animation:snow 20s linear infinite;
    pointer-events:none
}
#header:not(:hover):before{
    animation-play-state: paused;
}
@-webkit-keyframes snow {
    0% {
        background-position:0 0,300px 200px,200px 200px
    }
    100% {
        background-position:500px 2000px,1350px 1250px,890px 890px
    }
}
@-moz-keyframes snow {
    0% {
        background-position:0 0,300px 200px,200px 200px
    }
    100% {
        background-position:500px 2000px,1350px 1250px,890px 890px
    }
}
@-ms-keyframes snow {
    0% {
        background-position:0 0,300px 200px,200px 200px
    }
    100% {
        background-position:500px 2000px,1350px 1250px,890px 890px
    }
}
@keyframes snow {
    0% {
        background-position:0 0,300px 200px,200px 200px
    }
    100% {
        background-position:500px 2000px,1350px 1250px,890px 890px
    }
}
