@mixin artwork_random_captions{
  input[name=uh][value^="0"] ~ a:after {
    content: url("%%AnacondaPirateBase%%");}
  input[name=uh][value^="0"] ~ a:before {
    content: "Anaconda Pirate Base, by LeKo82";}
  input[name=uh][value^="1"] ~ a:after {
    content: url("%%BrowseGalnet%%");}
  input[name=uh][value^="1"] ~ a:before {
    content: "Browse Galnet, by Boyareen";}
  input[name=uh][value^="2"] ~ a:after {
    content: url("%%ChimeraPlanet%%");}
  input[name=uh][value^="2"] ~ a:before {
    content: "Chimera Planet, by Ian_Baristan";}
  input[name=uh][value^="3"] ~ a:after {
    content: url("%%ChoosingAPower%%");}
  input[name=uh][value^="3"] ~ a:before {
    content: "Choosing A Power, by ChairmanDoon";}
  input[name=uh][value^="4"] ~ a:after {
    content: url("%%CityMarket%%");}
  input[name=uh][value^="4"] ~ a:before {
    content: "City Market, by KevinMassey";}
  input[name=uh][value^="5"] ~ a:after {
    content: url("%%CityscapeDocking%%");}
  input[name=uh][value^="5"] ~ a:before {
    content: "Cityscape Docking, by KevinMassey";}
  input[name=uh][value^="6"] ~ a:after {
    content: url("%%DeLacy%%");}
  input[name=uh][value^="6"] ~ a:before {
    content: "DeLacy, by 70g50";}
  input[name=uh][value^="7"] ~ a:after {
    content: url("%%Dust%%");}
  input[name=uh][value^="7"] ~ a:before {
    content: "Dust, by IsaiahEvanson";}
  input[name=uh][value^="8"] ~ a:after {
    content: url("%%EagleCloud%%");}
  input[name=uh][value^="8"] ~ a:before {
    content: "Eagle Cloud, by AL-Walker";}
  input[name=uh][value^="9"] ~ a:after {
    content: url("%%EliteOrigami%%");}
  input[name=uh][value^="9"] ~ a:before {
    content: "Elite Origami, by Moozipan";}
  input[name=uh][value^="a"] ~ a:after {
    content: url("%%FederationTestSubject%%");}
  input[name=uh][value^="a"] ~ a:before {
    content: "Federation Test Subject, by SpaceMutant14";}
  input[name=uh][value^="b"] ~ a:after {
    content: url("%%HowIDock%%");}
  input[name=uh][value^="b"] ~ a:before {
    content: "How I Dock, by Moozipan";}
  input[name=uh][value^="c"] ~ a:after {
    content: url("%%Hyped4Atmospheric%%");}
  input[name=uh][value^="c"] ~ a:before {
    content: "Hyped 4 Atmospheric, by B0mon";}
  input[name=uh][value^="d"] ~ a:after {
    content: url("%%ImARocketMan%%");}
  input[name=uh][value^="d"] ~ a:before {
    content: "I'm A Rocket Man, by Moozipan";}
  input[name=uh][value^="e"] ~ a:after {
    content: url("%%ImNotSayingItsThargoids%%");}
  input[name=uh][value^="e"] ~ a:before {
    content: "I'm Not Saying It's Thargoids, by Moozipan";}
  input[name=uh][value^="f"] ~ a:after {
    content: url("%%ImperialEntanglement%%");}
  input[name=uh][value^="f"] ~ a:before {
    content: "Imperial Entanglement, by Yunners";}
  input[name=uh][value^="g"] ~ a:after {
    content: url("%%InTheZone%%");}
  input[name=uh][value^="g"] ~ a:before {
    content: "In The Zone, by Moozipan";}
  input[name=uh][value^="h"] ~ a:after {
    content: url("%%LandingInTechCity%%");}
  input[name=uh][value^="h"] ~ a:before {
    content: "Landing In Tech City, by MaximilianYuen";}
  input[name=uh][value^="i"] ~ a:after {
    content: url("%%LifeOnThePads%%");}
  input[name=uh][value^="i"] ~ a:before {
    content: "Life On The Pads, by XKalibur84";}
  input[name=uh][value^="j"] ~ a:after {
    content: url("%%MassLockedOnGasGiant%%");}
  input[name=uh][value^="j"] ~ a:before {
    content: "Mass Locked On Gas Giant, by CMDragonFire";}
  input[name=uh][value^="k"] ~ a:after {
    content: url("%%Pebbles%%");}
  input[name=uh][value^="k"] ~ a:before {
    content: "Pebbles, by Mispunt";}
  input[name=uh][value^="l"] ~ a:after {
    content: url("%%PoutyMcEmofringe%%");}
  input[name=uh][value^="l"] ~ a:before {
    content: "Pouty McEmofringe, by XKalibur84";}
  input[name=uh][value^="m"] ~ a:after {
    content: url("%%Psycho%%");}
  input[name=uh][value^="m"] ~ a:before {
    content: "Psycho, by Rispo";}
  input[name=uh][value^="n"] ~ a:after {
    content: url("%%RedditTheseDays%%");}
  input[name=uh][value^="n"] ~ a:before {
    content: "Reddit These Days, by Moozipan";}
  input[name=uh][value^="o"] ~ a:after {
    content: url("%%RescuePatrol%%");}
  input[name=uh][value^="o"] ~ a:before {
    content: "Rescue Patrol, by RadioBiereFoot";}
  input[name=uh][value^="p"] ~ a:after {
    content: url("%%ScannedAnotherShip%%");}
  input[name=uh][value^="p"] ~ a:before {
    content: "Scanned Another Ship, by Boyareen";}
  input[name=uh][value^="q"] ~ a:after {
    content: url("%%ScarabWaterGrass%%");}
  input[name=uh][value^="q"] ~ a:before {
    content: "Scarab, Water, Grass... by SepterLt";}
  input[name=uh][value^="r"] ~ a:after {
    content: url("%%ShipScalePerspective%%");}
  input[name=uh][value^="r"] ~ a:before {
    content: "Ship Scale Perspective, by Prefim";}
  input[name=uh][value^="s"] ~ a:after {
    content: url("%%ShipScaleVideo%%");}
  input[name=uh][value^="s"] ~ a:before {
    content: "Ship Scale Video, by Prefim";}
  input[name=uh][value^="t"] ~ a:after {
    content: url("%%Sif%%");}
  input[name=uh][value^="t"] ~ a:before {
    content: "Sif, by KevinMassey";}
  input[name=uh][value^="u"] ~ a:after {
    content: url("%%SilentNightAtStation%%");}
  input[name=uh][value^="u"] ~ a:before {
    content: "Silent Night At Station, by Islanden";}
  input[name=uh][value^="v"] ~ a:after {
    content: url("%%StationSeven%%");}
  input[name=uh][value^="v"] ~ a:before {
    content: "Station Seven, by Younger5th";}
  input[name=uh][value^="w"] ~ a:after {
    content: url("%%SuperEliteHD%%");}
  input[name=uh][value^="w"] ~ a:before {
    content: "Super Elite HD, by TFaddy";}
  input[name=uh][value^="x"] ~ a:after {
    content: url("%%ThisIsFine%%");}
  input[name=uh][value^="x"] ~ a:before {
    content: "This Is Fine, by Naschamsant";}
  input[name=uh][value^="y"] ~ a:after {
    content: url("%%UnderwaterOperations%%");}
  input[name=uh][value^="y"] ~ a:before {
    content: "Underwater Operations, by Ian_Baristan";}
  input[name=uh][value^="z"] ~ a:after {
    content: url("%%WhenTheOnionheadKicksIn%%");}
  input[name=uh][value^="z"] ~ a:before {
    content: "When The Onionhead Kicks In, by xKroneKx";}

  .md [href^="##"] {
      background-image: url(%%PreviouslyFeatured%%);
      display: inline-block;
      cursor: default;
      width: 200px;
      height: 120px;}

  .md [href="##PFAManCanDream"] {background-position: 0px 0px}
  .md [href="##PFPAmelaMoratAh"] {background-position: 0px -120px}
  .md [href="##PFDareToDream"] {background-position: 0px -240px}
  .md [href="##PFDerelict"] {background-position: 0px -360px}
  .md [href="##PFChristmasIsComing"] {background-position: 0px -480px}
  .md [href="##PF5eEnginesFeelLikeThat"] {background-position: 0px -600px}
  .md [href="##PFSuperElite"] {background-position: 0px -720px}
  .md [href="##PFImagine"] {background-position: 0px -840px}
  .md [href="##PFShipScaleComparison"] {background-position: 0px -960px}
  .md [href="##PFElitePixelArt"] {background-position: 0px -1080px}
  .md [href="##PFHidingInTheWoods"] {background-position: 0px -1200px}
  .md [href="##PFDashingThroughTheSnow"] {background-position: 0px -1320px}
  .md [href="##PFAccretionDisk"] {background-position: 0px -1440px}
  .md [href="##PFShipsLeavingMailslot"] {background-position: 0px -1560px}
  .md [href="##PFOldMoviePosters"] {background-position: 0px -1680px}
  .md [href="##PFHeavyMetal"] {background-position: 0px -1800px}
}
