@mixin artwork_random_captions{
  input[name=uh][value^="0"] ~ a:after {
    content: url("%%ALittleAbduction%%");}
  input[name=uh][value^="0"] ~ a:before {
    content: "A Little Abduction, by AL_Walker";}
  input[name=uh][value^="1"] ~ a:after {
    content: url("%%AtmosPlanetExploration%%");}
  input[name=uh][value^="1"] ~ a:before {
    content: "Atmos Planet Exploration, by Yogi89";}
  input[name=uh][value^="2"] ~ a:after {
    content: url("%%BraveTheStorm%%");}
  input[name=uh][value^="2"] ~ a:before {
    content: "Brave The Storm, by Lunasther";}
  input[name=uh][value^="3"] ~ a:after {
    content: url("%%BrowseGalnet%%");}
  input[name=uh][value^="3"] ~ a:before {
    content: "Browse Galnet, by Boyareen";}
  input[name=uh][value^="4"] ~ a:after {
    content: url("%%ChooseElite%%");}
  input[name=uh][value^="4"] ~ a:before {
    content: "Choose Elite, by SoMuchF0rSubtlety";}
  input[name=uh][value^="5"] ~ a:after {
    content: url("%%CityscapeDocking%%");}
  input[name=uh][value^="5"] ~ a:before {
    content: "Cityscape Docking, by KevinMassey";}
  input[name=uh][value^="6"] ~ a:before {
    content: "Choosing A Power, by ChairmanDoon";}
  input[name=uh][value^="7"] ~ a:after {
    content: url("%%Deadline%%");}
  input[name=uh][value^="7"] ~ a:before {
    content: "Deadline, by SpaceMutant14";}
  input[name=uh][value^="8"] ~ a:after {
    content: url("%%DontBeThatGuy%%");}
  input[name=uh][value^="8"] ~ a:before {
    content: "Dont Be That Guy, by Mat-2596";}
  input[name=uh][value^="9"] ~ a:after {
    content: url("%%ChimeraPlanet%%");}
  input[name=uh][value^="9"] ~ a:before {
    content: "Chimera Planet, by Ian_Baristan";}
  input[name=uh][value^="a"] ~ a:after {
    content: url("%%FederalNavyInsertion%%");}
  input[name=uh][value^="a"] ~ a:before {
    content: "Federal Navy Insertion, by xMorris";}
  input[name=uh][value^="b"] ~ a:after {
    content: url("%%FriendshipDriveEngage%%");}
  input[name=uh][value^="b"] ~ a:before {
    content: "Friendship Drive Engage, by Moozipan";}
  input[name=uh][value^="c"] ~ a:after {
    content: url("%%HowIDock%%");}
  input[name=uh][value^="c"] ~ a:before {
    content: "How I Dock, by Moozipan";}
  input[name=uh][value^="d"] ~ a:after {
    content: url("%%HypedToSeeGasGiants%%");}
  input[name=uh][value^="d"] ~ a:before {
    content: "Hyped To See Gas Giants, by Felipe5083";}
  input[name=uh][value^="e"] ~ a:after {
    content: url("%%IHadADream%%");}
  input[name=uh][value^="e"] ~ a:before {
    content: "I Had A Dream, by NaQan";}
  input[name=uh][value^="f"] ~ a:after {
    content: url("%%JourneyProfitGlory%%");}
  input[name=uh][value^="f"] ~ a:before {
    content: "Journey Profit Glory, by KugelKuchen";}
  input[name=uh][value^="g"] ~ a:after {
    content: url("%%ImNotSayingItsThargoids%%");}
  input[name=uh][value^="g"] ~ a:before {
    content: "I'm Not Saying It's Thargoids, by Moozipan";}
  input[name=uh][value^="h"] ~ a:after {
    content: url("%%MassLockedOnGasGiant%%");}
  input[name=uh][value^="h"] ~ a:before {
    content: "Mass Locked On Gas Giant, by CMDragonFire";}
  input[name=uh][value^="i"] ~ a:after {
    content: url("%%OurSpotOnrPlace%%");}
  input[name=uh][value^="i"] ~ a:before {
    content: "Our Spot On /r/Place, by /r/EliteDangerous";}
  input[name=uh][value^="j"] ~ a:after {
    content: url("%%RescuePatrol%%");}
  input[name=uh][value^="j"] ~ a:before {
    content: "Rescue Patrol, by RadioBiereFoot";}
  input[name=uh][value^="k"] ~ a:after {
    content: url("%%SageAdvice%%");}
  input[name=uh][value^="k"] ~ a:before {
    content: "Sage Advice, by M1k3tv";}
  input[name=uh][value^="l"] ~ a:after {
    content: url("%%ScannedAnotherShip%%");}
  input[name=uh][value^="l"] ~ a:before {
    content: "Scanned Another Ship, by Boyareen";}
  input[name=uh][value^="m"] ~ a:after {
    content: url("%%ScarabWaterGrass%%");}
  input[name=uh][value^="m"] ~ a:before {
    content: "Scarab, Water, Grass... by SepterLt";}
  input[name=uh][value^="n"] ~ a:after {
    content: url("%%ShipScalePerspective%%");}
  input[name=uh][value^="n"] ~ a:before {
    content: "Ship Scale Perspective, by Prefim";}
  input[name=uh][value^="o"] ~ a:after {
    content: url("%%ShipScaleVideo%%");}
  input[name=uh][value^="o"] ~ a:before {
    content: "Ship Scale Video, by Prefim";}
  input[name=uh][value^="p"] ~ a:after {
    content: url("%%Sif%%");}
  input[name=uh][value^="p"] ~ a:before {
    content: "Sif, by KevinMassey";}
  input[name=uh][value^="q"] ~ a:after {
    content: url("%%SilentNightAtStation%%");}
  input[name=uh][value^="q"] ~ a:before {
    content: "Silent Night At Station, by Islanden";}
  input[name=uh][value^="r"] ~ a:after {
    content: url("%%StationSeven%%");}
  input[name=uh][value^="r"] ~ a:before {
    content: "Station Seven, by Younger5th";}
  input[name=uh][value^="s"] ~ a:after {
    content: url("%%SuperEliteHD%%");}
  input[name=uh][value^="s"] ~ a:before {
    content: "Super Elite HD, by TFaddy";}
  input[name=uh][value^="t"] ~ a:after {
    content: url("%%TakeAMorningFlight%%");}
  input[name=uh][value^="t"] ~ a:before {
    content: "Take A Morning Flight, by Finding_Anorak";}
  input[name=uh][value^="u"] ~ a:after {
    content: url("%%TheyAreHere%%");}
  input[name=uh][value^="u"] ~ a:before {
    content: "Theyre Here, by CurtisJamesHolt";}
  input[name=uh][value^="v"] ~ a:after {
    content: url("%%ThisIsFine%%");}
  input[name=uh][value^="v"] ~ a:before {
    content: "This Is Fine, by Naschamsant";}
  input[name=uh][value^="w"] ~ a:after {
    content: url("%%TowardsThePleiades%%");}
  input[name=uh][value^="w"] ~ a:before {
    content: "Towards The Pleiades, by Kmm625";}
  input[name=uh][value^="x"] ~ a:after {
    content: url("%%TowerBridge%%");}
  input[name=uh][value^="x"] ~ a:before {
    content: "Tower Bridge, by ToCoSo";}
  input[name=uh][value^="y"] ~ a:after {
    content: url("%%WelcomeHome%%");}
  input[name=uh][value^="y"] ~ a:before {
    content: "Welcome Home, by Mat-2596";}
  input[name=uh][value^="z"] ~ a:after {
    content: url("%%WhenTheOnionheadKicksIn%%");}
  input[name=uh][value^="z"] ~ a:before {
    content: "When The Onionhead Kicks In, by xKroneKx";}

  .md [href^="##"] {
    background-image: url(%%previouslyfeatured%%);
    display: inline-block;
    cursor: default;
    width: 200px;
    height: 120px;}

  .md [href="##PFAManCanDream"] {background-position: 0px 0px}
  .md [href="##PFPAmelaMoratAh"] {background-position: 0px -120px}
  .md [href="##PFDareToDream"] {background-position: 0px -240px}
  .md [href="##PFDerelict"] {background-position: 0px -360px}
  .md [href="##PFChristmasIsComing"] {background-position: 0px -480px}
  .md [href="##PF5eEnginesFeelLikeThat"] {background-position: 0px -600px}
  .md [href="##PFSuperElite"] {background-position: 0px -720px}
  .md [href="##PFImagine"] {background-position: 0px -840px}
  .md [href="##PFShipScaleComparison"] {background-position: 0px -960px}
  .md [href="##PFElitePixelArt"] {background-position: 0px -1080px}
  .md [href="##PFHidingInTheWoods"] {background-position: 0px -1200px}
  .md [href="##PFDashingThroughTheSnow"] {background-position: 0px -1320px}
  .md [href="##PFAccretionDisk"] {background-position: 0px -1440px}
  .md [href="##PFShipsLeavingMailslot"] {background-position: 0px -1560px}
  .md [href="##PFOldMoviePosters"] {background-position: 0px -1680px}
  .md [href="##PFHeavyMetal"] {background-position: 0px -1800px}
  .md [href="##PFAnacondaPirateBase"] {background-position: 0px -1920px;}
  .md [href="##PFCityMarket"] {background-position: 0px -2040px;}
  .md [href="##PFDelacy"] {background-position: 0px -2160px;}
  .md [href="##PFDust"] {background-position: 0px -2280px;}
  .md [href="##PFEagleCloud"] {background-position: 0px -2400px;}
  .md [href="##PFEliteOrigami"] {background-position: 0px -2520px;}
  .md [href="##PFFederationTestSubject"] {background-position: 0px -2640px;}
  .md [href="##PFHyped4Atmospheric"] {background-position: 0px -2760px;}
  .md [href="##PFImARocketMan"] {background-position: 0px -2880px;}
  .md [href="##PFImperialEntanglement"] {background-position: 0px -3000px;}
  .md [href="##PFInTheZone"] {background-position: 0px -3120px;}
  .md [href="##PFLandingInTechCity"] {background-position: 0px -3240px;}
  .md [href="##PFLifeOnThePads"] {background-position: 0px -3360px;}
  .md [href="##PFPebbles"] {background-position: 0px -3480px;}
  .md [href="##PFPoutyMcEmofringe"] {background-position: 0px -3600px;}
  .md [href="##PFPsycho"] {background-position: 0px -3720px;}
  .md [href="##PFRedditTheseDays"] {background-position: 0px -3840px;}
  .md [href="##PFUnderwaterOperations"] {background-position: 0px -3960px;}
}
