@mixin artwork_random_captions{
    input[name=uh][value^="0"] ~ a:after { content: url('%%AccretionDisk%%'); }
    input[name=uh][value^="0"] ~ a:before { content: '"Accretion Disk" by GazCullen' }

    input[name=uh][value^="1"] ~ a:after { content: url('%%AManCanDream%%'); }
    input[name=uh][value^="1"] ~ a:before { content: '"A Man Can Dream" by CMDRHa5h' }

    input[name=uh][value^="2"] ~ a:after { content: url('%%AnacondaPirateBase%%'); }
    input[name=uh][value^="2"] ~ a:before { content: '"Anaconda Pirate Base" by LeKo82' }

    input[name=uh][value^="3"] ~ a:after { content: url('%%BrowseGalnet%%'); }
    input[name=uh][value^="3"] ~ a:before { content: '"Browse Galnet" by Boyareen' }

    input[name=uh][value^="4"] ~ a:after { content: url('%%ChoosingAPower%%'); }
    input[name=uh][value^="4"] ~ a:before { content: '"Choosing A Power" by ChairmanDoon' }

    input[name=uh][value^="5"] ~ a:after { content: url('%%DeLacy%%'); }
    input[name=uh][value^="5"] ~ a:before { content: '"DeLacy" by 70g50' }

    input[name=uh][value^="6"] ~ a:after { content: url('%%Derelict%%'); }
    input[name=uh][value^="6"] ~ a:before { content: '"Derelict" by Mobius' }

    input[name=uh][value^="7"] ~ a:after { content: url('%%Dust%%'); }
    input[name=uh][value^="7"] ~ a:before { content: '"Dust" by IsaiahEvanson' }

    input[name=uh][value^="8"] ~ a:after { content: url('%%EagleCloud%%'); }
    input[name=uh][value^="8"] ~ a:before { content: '"Eagle Cloud" by AL-Walker' }

    input[name=uh][value^="9"] ~ a:after { content: url('%%ElitePixelArt%%'); }
    input[name=uh][value^="9"] ~ a:before { content: '"Elite Pixel Art" by TFaddy' }

    input[name=uh][value^="a"] ~ a:after { content: url('%%HeavyMetal%%'); }
    input[name=uh][value^="a"] ~ a:before { content: '"Heavy Metal" by Mixed_Signal' }

    input[name=uh][value^="b"] ~ a:after { content: url('%%HidingInTheWoods%%'); }
    input[name=uh][value^="b"] ~ a:before { content: '"Hiding In The Woods" by IAmOnlyHereForThis' }

    input[name=uh][value^="c"] ~ a:after { content: url('%%HowIDock%%'); }
    input[name=uh][value^="c"] ~ a:before { content: '"How I Dock" by Moozipan' }

    input[name=uh][value^="d"] ~ a:after { content: url('%%Hyped4Atmospheric%%'); }
    input[name=uh][value^="d"] ~ a:before { content: '"Hyped 4 Atmospheric" by B0mon' }

    input[name=uh][value^="e"] ~ a:after { content: url('%%ImARocketMan%%'); }
    input[name=uh][value^="e"] ~ a:before { content: '"I?m A Rocket Man" by Moozipan' }

    input[name=uh][value^="f"] ~ a:after { content: url('%%ImNotSayingItsThargoids%%'); }
    input[name=uh][value^="f"] ~ a:before { content: '"I?m Not Saying It?s Thargoids" by Moozipan' }

    input[name=uh][value^="g"] ~ a:after { content: url('%%ImperialEntanglement%%'); }
    input[name=uh][value^="g"] ~ a:before { content: '"Imperial Entanglement" by Yunners' }

    input[name=uh][value^="h"] ~ a:after { content: url('%%InTheZone%%'); }
    input[name=uh][value^="h"] ~ a:before { content: '"In The Zone" by Moozipan' }

    input[name=uh][value^="i"] ~ a:after { content: url('%%LifeOnThePads%%'); }
    input[name=uh][value^="i"] ~ a:before { content: '"Life On The Pads" by XKalibur84' }

    input[name=uh][value^="j"] ~ a:after { content: url('%%OldMoviePosters%%'); }
    input[name=uh][value^="j"] ~ a:before { content: '"Old Movie Posters" by Boyareen' }

    input[name=uh][value^="k"] ~ a:after { content: url('%%PAmelaMoratAh%%'); }
    input[name=uh][value^="k"] ~ a:before { content: '"P?Amela Morat?Ah" by KevinMassey' }

    input[name=uh][value^="l"] ~ a:after { content: url('%%Pebbles%%'); }
    input[name=uh][value^="l"] ~ a:before { content: '"Pebbles" by Mispunt' }

    input[name=uh][value^="m"] ~ a:after { content: url('%%PoutyMcEmofringe%%'); }
    input[name=uh][value^="m"] ~ a:before { content: '"Pouty McEmofringe" by XKalibur84' }

    input[name=uh][value^="n"] ~ a:after { content: url('%%Psycho%%'); }
    input[name=uh][value^="n"] ~ a:before { content: '"Psycho" by Rispo' }

    input[name=uh][value^="o"] ~ a:after { content: url('%%RedditTheseDays%%'); }
    input[name=uh][value^="o"] ~ a:before { content: '"Reddit These Days" by Moozipan' }

    input[name=uh][value^="p"] ~ a:after { content: url('%%RescuePatrol%%'); }
    input[name=uh][value^="p"] ~ a:before { content: '"Rescue Patrol" by RadioBiereFoot' }

    input[name=uh][value^="q"] ~ a:after { content: url('%%ScannedAnotherShip%%'); }
    input[name=uh][value^="q"] ~ a:before { content: '"Scanned Another Ship" by Boyareen' }

    input[name=uh][value^="r"] ~ a:after { content: url('%%ShipScaleComparison%%'); }
    input[name=uh][value^="r"] ~ a:before { content: '"Ship Scale Comparision" by YT-0' }

    input[name=uh][value^="s"] ~ a:after { content: url('%%ShipScalePerspective%%'); }
    input[name=uh][value^="s"] ~ a:before { content: '"Ship Scale Perspective" by Prefim' }

    input[name=uh][value^="t"] ~ a:after { content: url('%%ShipScaleVideo%%'); }
    input[name=uh][value^="t"] ~ a:before { content: '"Ship Scale Video" by Prefim' }

    input[name=uh][value^="u"] ~ a:after { content: url('%%ShipsLeavingMailslot%%'); }
    input[name=uh][value^="u"] ~ a:before { content: '"Ships Leaving Mailslot" by Prefim' }

    input[name=uh][value^="v"] ~ a:after { content: url('%%Sif%%'); }
    input[name=uh][value^="v"] ~ a:before { content: '"Sif" by KevinMassey' }

    input[name=uh][value^="w"] ~ a:after { content: url('%%StationSeven%%'); }
    input[name=uh][value^="w"] ~ a:before { content: '"Station Seven" by Younger5th' }

    input[name=uh][value^="x"] ~ a:after { content: url('%%SuperElite%%'); }
    input[name=uh][value^="x"] ~ a:before { content: '"Super Elite" by TFaddy' }

    input[name=uh][value^="y"] ~ a:after { content: url('%%ThisIsFine%%'); }
    input[name=uh][value^="y"] ~ a:before { content: '"This Is Fine" by Naschamsant' }

    input[name=uh][value^="z"] ~ a:after { content: url('%%WhenTheOnionheadKicksIn%%'); }
    input[name=uh][value^="z"] ~ a:before { content: '"When The Onionhead Kicks In" by xKroneKx' }
}
