.organic-listing {
    background-color: transparent !important;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    border: none;
}
.organic-listing .help {
    margin-bottom: 28px !important;
}
.organic-listing .help, .organic-listing .sponsored-tagline {
    margin-bottom: 20px;
    margin-right: 16px;
    color: #98abba;
}
