@if $link_flair_type == right_orange {
	.title .linkflairlabel {
		background: none;
		border: none;
		float: right;
		font-size: 12px;
		color: $main_color;
		border-bottom: 1px solid $main_color;
		text-transform: uppercase;
		text-align: right;
		width: 200px;
	}
}
@elseif $link_flair_type == overwatch_style {
	.sitetable .thing {
		padding: 12px 10px 10px 10px;
		position: relative;
		&:hover .title .linkflairlabel {
			color: darken(#aaa, 20);
		}
	}
	.sitetable .thing.linkflair- {
		&red .title .linkflairlabel {
			color: lighten(#ea6363, 15);
		}
		&orange .title .linkflairlabel {
			color: lighten(#ff703b, 15);
		}
		&blue .title .linkflairlabel {
			color: lighten(#5b93f6, 15);
		}
		&green .title .linkflairlabel, &weekly .title .linkflairlabel {
			color: lighten(#43c064, 15);
		}
		&darkgreen .title .linkflairlabel {
			color: lighten(#fb6eea, 15);
		}
		&purple .title .linkflairlabel {
			color: lighten(#c050d7, 15);
		}
		&pink .title .linkflairlabel {
			color: lighten(#fb6eea, 15);
		}
		&eliteorange .title .linkflairlabel {
			color: lighten($elite_orange, 15);
		}
		&horizonsblue .title .linkflairlabel {
			color: lighten($horizons_blue, 15);
		}
	}
	.sitetable .thing:hover.linkflair- {
		&red .title .linkflairlabel {
			color: #ea6363;
		}
		&orange .title .linkflairlabel {
			color: #ff703b;
		}
		&blue .title .linkflairlabel {
			color: #5b93f6;
		}
		&green .title .linkflairlabel, &weekly .title .linkflairlabel {
			color: #43c064;
		}
		&darkgreen .title .linkflairlabel {
			color: #fb6eea;
		}
		&purple .title .linkflairlabel {
			color: #c050d7;
		}
		&pink .title .linkflairlabel {
			color: #fb6eea;
		}
		&eliteorange .title .linkflairlabel {
			color: $elite_orange;
		}
		&horizonsblue .title .linkflairlabel {
			color: $horizons_blue;
		}
	}
	.title{
		margin-top:0px;
		.linkflairlabel {
			position: absolute;
			background: none;
			font-weight: 100;
			font-size: 12px;
			top:0px;
			padding: 0;
			color: #aaa;
			border: none;
			&:hover{
				color: darken(#aaa, 25);
			}
		}
	}
	.res-flairSearch.linkflairlabel{
		position: absolute !important;
	}
}
@elseif $link_flair_type == colored_labels {
	.title .linkflairlabel {
	    padding: 2px 5px;
	    background-color: $default_link_flair_color;
	    color: white;
	    border: none;
	    font-size: 8pt;
	    vertical-align: middle;
	}
	.sitetable .thing.linkflair- {
		&red .title .linkflairlabel {
			background-color: #ea6363;
		}
		&orange .title .linkflairlabel {
			background-color: #ff703b;
		}
		&blue .title .linkflairlabel {
			background-color: #5b93f6;
		}
		&green .title .linkflairlabel {
			background-color: #43c064;
		}
		&darkgreen .title .linkflairlabel {
			background-color: #fb6eea;
		}
		&purple .title .linkflairlabel {
			background-color: #c050d7;
		}
		&pink .title .linkflairlabel {
			background-color: #fb6eea;
		}
		&eliteorange .title .linkflairlabel {
			background-color: $elite_orange;
		}
		&horizonsblue .title .linkflairlabel {
			background-color: $horizons_blue;
		}
	}
}
@else {
	@warn "$link_flair_type does not contain a valid entry!";
}
