.roundfield, .formtabs-content .infobar {
	background: white;
	border-radius: 0px;
	border: 1px solid #e2e2e2;
}
.content.submit .info-notice {
	background: #ffa9a9;
	border-radius: 0px;
	border: 1px solid #e2e2e2;
}
